body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

select {
    padding: 5px;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}

#weatherData {
    margin-top: 20px;
}
